.date-circle {
    height: 100px;
    width: 100px;
    border-width: 5px!important;
    border-color: #22223b!important;
    background-color: #4a4e69;
    color: #fff;
    text-align: center;
}

.divider {
    background: red;
    height: 1px;
    width: 80%;
    align-self: center;
}