<div class="card">
  <div class="card-body">
    <div class="d-flex flex-row align-items-center">
      <div
        class="d-flex flex-column justify-content-center flex-shrink-0 date-circle border rounded-circle"
      >
        <div>{{ record.measureDate | date: "shortDate" }}</div>
        <div class="divider"></div>
        <div>{{ record.measureDate | date: "HH:mm" }}</div>
      </div>
      <div
        class="d-flex flex-column justify-content-center flex-shrink-0 pl-5 pr-5 column--center"
      >
        <div class="column__header">Wartość</div>
        <div class="column__value">
          {{ record.top }}<span class="measure__slash">/</span>{{ record.bottom
          }}<span class="measure__slash">/</span>{{ record.pulse }}
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center column">
        <div class="column__header">Notatka</div>
        <div class="column__value">
          {{ record.note }}
        </div>
      </div>
    </div>
  </div>
</div>
