@import '../../../../styles.scss';

.input-pressure {
    background-color: $secondary-color;
    color: #ffffff;
}

.digit {
    font-family: 'Space Mono', monospace;
    font-size: 60px;
    text-align: center;
}

.text {
    font-size: 60px;
}

label {
    font-weight: 700;
}