<form [formGroup]="newRecordForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="form-group">
        <label for="bottom">Dolne</label>
        <input
          class="form-control"
          type="number"
          id="bottom"
          formControlName="bottom"
        />
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-group">
        <label for="top">Górne</label>
        <input
          class="form-control"
          type="number"
          id="top"
          formControlName="top"
        />
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-group">
        <label for="pulse">Puls</label>
        <input
          class="form-control"
          type="number"
          id="pulse"
          formControlName="pulse"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="datet">Data</label>
        <input
          class="form-control"
          type="datetime-local"
          id="date"
          formControlName="date"
        />
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="note">Notatka</label>
        <input
          class="form-control"
          type="text"
          id="note"
          formControlName="note"
        />
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <button
      class="btn btn-primary btn-large"
      type="submit"
      [disabled]="!newRecordForm.valid"
    >
      Zapisz
    </button>
  </div>
</form>
