$primary-color: #e53935;
$secondary-color: #22223b;
$secondary-lighter-color: #4a4e69;
$background-light-color: #edf2f4;
$background-darker-color: #d5d9db;
$background-dark-color: #bfc3c5;

body {
  background-color: $background-light-color;
  font-family: 'Roboto', sans-serif;
}
